@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url(./images/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

main {
  flex: 1 1 100%;
}
footer {
  flex: 1 1 120px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 900;
  letter-spacing: 2px;
}

.round-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.08);
}
.l1 {
  filter: invert(1);
  animation: cw 30s infinite linear;
}
.l2 {
  filter: invert(0.66);
  animation: ccw 30s infinite linear;
}
.l3 {
  filter: invert(0.33);
  animation: cw 30s infinite linear;
}
.ql {
  transform: scale(0.9);
}

@keyframes cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media screen and (min-width: 450px) {
  .round-image {
    transform: translate(-50%, -50%) scale(0.1);
  }
  footer {
    align-items: center;
  }
}

@media screen and (min-width: 750px) {
  .round-image {
    transform: translate(-50%, -50%) scale(0.125);
  }
}
@media screen and (min-width: 1024px) {
  .round-image {
    transform: translate(-50%, -50%) scale(0.15);
  }
}
